/* 1. General
--------------------------------------------------*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-color: #dddddd;
	min-width: 300px;
	width: 100%;
	font: 12px/1.3 Helvetica,arial,freesans,clean,sans-serif;
	color: #666666;
	font-weight:	400;
	position: relative;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -40px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
	z-index: 0;
}

#navbar {
	background: #0b0b0b;
	diplay:block;
	clear:both;
	height: auto;
	width: 100%;
	z-index: 10;
	font-family: "UbuntuRegular", Helvetica,arial,freesans,clean,sans-serif;
}
#navbar>ul {
	diplay:block;
	padding: 0;
}
#navbar>ul>li {
	float: left;
	-webkit-transition: background linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: background linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: background linear 0.2s, box-shadow linear 0.2s;
	-o-transition: background linear 0.2s, box-shadow linear 0.2s;
	transition: background linear 0.2s, box-shadow linear 0.2s;
}
#navbar>ul>li>a {
	color: #eaeef4;
	display: block;
	font-size: 11px;
	line-height: 24px;
	padding: 6px 10px 5px;
	text-align: center;
	text-decoration: none;
	position:relative;
}
#navbar>ul>li:hover, #navbar>ul>li.sel, #navbar>ul>li.bottom>a:hover, #navbar>ul>li.bottom>div:hover + a {
	background: #333!important;
}
#navbar>ul>li>a:before {
	display: none;
	font-size:28px;
	color: #eaeef4;
	height:28px;
	left:2px;
	top:3px;
}
#navbar>ul>li.bottom{
	display: none;
}
#navbar>ul>li.bottom>a {
	background: #0b0b0b;
	right: 0px;
	top: 0px;
	position: absolute;
	width: 100px;
}
.body {
	margin: 0 auto;
	position: relative;
}

#header {
	display: block;
	background: #497EAC;
	background: linear-gradient(#6BA0CE, #497EAC) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6BA0CE', endColorstr='#497EAC'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #6BA0CE, #497EAC); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #6BA0CE,  #497EAC); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #6BA0CE,  #497EAC); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6BA0CE,  #497EAC); /* для IE10+ */
	border-bottom: 1px solid #467CAD;
	border-top: 1px solid #699FD0;
}
#sitetitle {
	padding: 12px 20px;
	color: #000;
}
#resolution_control{
	display: none;
}

#footer-push, #footerbar {
	position: relative;
    height: 40px;
    margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
    padding-bottom: 0;
}
#footer {
	position: absolute;
	bottom: 0px;
	right: 70px;
	border: 1px solid #bababa;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-bottom: 0px solid #bababa;
	text-align: center;
	padding: 5px 15px;
	background-color: #E5E5E5;
    background-image: linear-gradient(center top , #EBEBEB, #E5E5E5);
}

#messagebar
{
	color: #898989;
	position: absolute;
	bottom: 0px;
	left: 60px;
	font-size: 11px;
	font-family: "UbuntuRegular", Helvetica,arial,freesans,clean,sans-serif;
	text-shadow: 0 1px 0 #FFFFFF;
	border: 1px solid #bababa;
	border-bottom: 0px solid #bababa;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 5px 15px;
	background-color: #E5E5E5;
    background-image: linear-gradient(center top , #EBEBEB, #E5E5E5);
}
.messagebarusername {font-family: "UbuntuBold", Helvetica,arial,freesans,clean,sans-serif;}

#footer a, #messagebar a {
	color: #898989;
}
.messagebutton{
	padding:0 10px;
	display:inline;
}
ul {
	list-style-type: none;
}
ol {
	list-style-position: outside;
	margin-bottom: 5px;
	padding-left: 20px;
}
ul.blocklist li,
.col3-1 .block ul li {
	background: none;
	padding: 0;
}
ul.blocklist li a,
.col3-1 .block ul li a {
	display: block;
	padding: 10px 20px;
}
ul.blocklist li:hover,
.col3-1 .block ul li:hover {background-color: #FDFDFD;}

ul.follow li {
	padding-left: 25px;
	background: url(../img/follow.png) no-repeat 5px 3px;
}
ul.follow img {
	vertical-align: -3px;
}
ul.table {
    margin:10px 0;
}
ul.table>li:first-child {
    border-top:medium none;
}
ul.table>li:last-child {
    border-bottom:medium none;
}
ul.table>li {
    border-bottom:1px solid #EBEBEB;
    border-top:1px solid #FFFFFF;
    list-style:none outside none;
	color:#666666;
    display:block;
    line-height:28px;
    text-decoration:none;
	min-height: 28px;
}

ul.table>li span {
    display:block;
	float: left;
    font-weight:bold;
    margin-right:10px;
    text-align:right;
    max-width:200px;
	width: 20%;
}

ul.table>li ul, ul.table>li p, ul.table>li div {
    display:inline-block;
}

a {
	color: #000;
	text-decoration: none;
	outline: medium none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}
hr {
	margin: 4px 0 1px;
	border: 1px solid;
	border-color: #ddd transparent transparent transparent;
}

p {
    line-height: 20px;
    margin-bottom: 14px;
}
/* 2. Structure
--------------------------------------------------*/

.block {
	background: none repeat scroll 0 0 #f7f7f1;
    border-radius: 3px 3px 3px 3px;
	margin: 20px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	clear: both;
	overflow-x: auto;
}
.action_bar {
	clear: both;
    background:url("../img/action_bar.png") repeat-x scroll 0 0 #E8E8E8;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    padding:7px 14px 5px 8px;
}
.quick-actions {
    margin: 20px 15px 16px;
}

.button-toolbar {
	padding: 20px;
}

h2 + .block {
	margin: 0 15px;
	border-radius: 0px 0px 3px 3px;
}
.block .block {
	background: none;
    border-radius: 0;
	margin: 10px 10px 5px;
    box-shadow: none;
	clear: both;
	overflow-x: auto;
}
.block *.inner,
.mode_other{
	margin: 10px !important;
}
/*
.block > ul, .block > p, .block > div {
	padding: 20px;

}
.block > .overflow, .block > .overflow_x,  .block > .overflow_y, .block > ul.follow, .block > .nopad{
	padding: 0px!important;
}*/
.overflow {
	overflow: auto;
}
.overflow_x {
	/*	overflow-x: auto;*/
}
.overflow_y {
	overflow-y: auto;
}
.col, .col4-1, .col4-2, .col4-3, .col3-1, .col3-2, .col2-1 {
	float: left;
}
.col { width: 100%;}
.col4-1 { width: 25%;}
.col4-2 { width: 50%;}
.col4-3 { width: 75%;}
.col3-1 { width: 33%;}
.col3-2 { width: 67%;}
.col2-1 { width: 50%;}
.col.first, .col4-1.first, .col4-2.first, .col4-3.first, .col3-1.first, .col3-2.first, .col2-1.first {
	margin-left: 0;
	clear: left;
}

/* 3. Headings
--------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 1em;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "UbuntuBold", Helvetica,arial,freesans,clean,sans-serif;
}
h1 {

}
h1, #sitetitle {
	color: #fff;
	font-size: 14px;
	/*font-weight: bold;*/
	line-height: 16px;
	padding: 10px 14px;
	text-decoration: none;
	outline: medium none;
}
#sitetitle a {
	color: #000;
	text-decoration: none;
}
h1 a {
	color: #fff;
	text-decoration: none;
}
h1 a:hover, #sitetitle a:hover {
	text-decoration: underline;
}
h2 {
	color: #555;
    font-size: 11px;
  /*  font-weight: bold;*/
    line-height: 40px;
    padding-left: 14px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	display: block;
    height: 40px;
	margin: 20px 15px 0;
	background: #E0E0E0;
    background: linear-gradient(center top , #e8e8e8, #e0e0e0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#e0e0e0'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #e8e8e8, #e0e0e0); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #e8e8e8,  #e0e0e0); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #e8e8e8,  #e0e0e0); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8,  #e0e0e0); /* для IE10+ */
}
h3 {
	color: #555;
    font-size: 11px;
 /*   font-weight: bold;*/
    line-height: 40px;
    padding-left: 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    text-transform: uppercase;

    border-top: 1px solid #FAFAFA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	display: block;
    height: 40px;
	margin: 0;
	background: #E0E0E0;
    background: linear-gradient(center top , #e8e8e8, #e0e0e0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#e0e0e0'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #e8e8e8, #e0e0e0); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #e8e8e8,  #e0e0e0); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #e8e8e8,  #e0e0e0); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8,  #e0e0e0); /* для IE10+ */
}
h4 {
	font-weight: bold;
}
/* 4. Misc
--------------------------------------------------*/

div.error, div.warning, div.done, div.help, div.success {
	line-height: 1.8em;
	margin: 20px 15px 16px;
	padding: 10px 30px 10px 60px;
	background-position: 15px 50%;
	background-repeat: no-repeat;
	clear: both;
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.error p, div.warning p, div.done p, div.help p, div.success p {
    margin-bottom:0px;
}
div.error {
	color: #d8000c;
	background-color: #ffebe8;
	background-image: url(../img/error.png);
	border: 1px solid #dd3c10;
}
div.warning {
	color: #9f6000;
	background-color: #fff9d7;
	background-image: url(../img/warning.png);
	border: 1px solid #e2c822;
}
div.success,
div.done {
	color: #4f8a10;
	background-color: #eceff6;
	background-image: url(../img/done.png);
	border: 1px solid #d4dae8;
}
div.help {
	color: #000;
	background-color: #f5f5f5;
	background-image: url(../img/help.png);
	border: 1px solid #ccc;
}
.highlight_green {
	color: #205000;
	background-color: #befea8;
}
.highlight_red {
	color: #d8000c;
	background-color: #feebe8;
}

/* 6. Tables
--------------------------------------------------*/
table td {
	vertical-align: top;
}
table.cells {
	margin: 4px 0;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
table.cells td {
	border-left: 1px solid #FFFFFF;
    border-right: 1px solid #e5e5e5;
    padding: 4px 4px;
	border-bottom: 1px solid #e5e5e5;
}
table.cells .coltop {
	text-align: left;
	vertical-align: middle;
	padding: 6px 4px;
	border-top: medium none;
	border-bottom: 2px solid #e5e5e5;
	font-weight: bold;
	background-color: inherit!important;
}

table.cells tr:last-child, table.cells tr:last-child td{
    border-bottom: medium none;
}
table.cells tr td:last-child{
    border-right: medium none;
}
table.cells tr td:first-child{
    border-left: medium none;
}
table.nowrap td {
	white-space:nowrap;
}
.odd, table.cells tr:nth-child(2n+1) td	{background-color: inherit;}
.even, table.cells tr:nth-child(2n) td {background-color: #FDFDFD;border-bottom: 0px solid #EBEBEB;}

.coltop img {
	vertical-align: middle;
}


/* 7. Polls
--------------------------------------------------*/
.bar_back {
	background: #E2E2E2;
	background: linear-gradient(#E2E2E2, #D8D8D8) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2E2E2', endColorstr='#D8D8D8'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #E2E2E2, #D8D8D8); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #E2E2E2,  #D8D8D8); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #E2E2E2,  #D8D8D8); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #E2E2E2,  #D8D8D8); /* для IE10+ */
    border-radius: 3px 3px 3px 3px;
    height: 13px;
    margin-left: 3px;
    position: relative;
	/*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
	border: 1px solid #d4d4d4;
}
.bar_front {
	background: #8DCF16;
	background: linear-gradient(#8DCF16, #65BD10) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8DCF16', endColorstr='#65BD10'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #8DCF16, #65BD10); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #8DCF16,  #65BD10); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #8DCF16,  #65BD10); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8DCF16,  #65BD10); /* для IE10+ */

	/*   background: -moz-linear-gradient(#3e6c96, #5f93c3) repeat scroll 0 0 transparent;*/
	border-radius: 3px 3px 3px 3px;
    height: 13px;
}
.bar_back:hover .bar_front {
	background: #69d344;
	background: linear-gradient(#69d344, #4c8b36) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69d344', endColorstr='#4c8b36'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #69d344, #4c8b36); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #69d344,  #4c8b36); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #69d344,  #4c8b36); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69d344,  #4c8b36); /* для IE10+ */
}


/* 9. Pagination
--------------------------------------------------*/
.paging {
	float:right;
	margin: 5px 0 0px 0;
	color:#B4B4B4;
    float:right;

	text-align: center;
	font-size: .9em;
}
.paging img {
	vertical-align: -3px;
}
.paging span {
	padding: 0 20px;
}

span.pagenav_prev, span.pagenav_next, span.pagenav_first, span.pagenav_last, span.pagenav_pages, span.pagenav_current {
	display: inline-block;
	padding: 0px 0px;
	margin: 1px;
}

span.pagenav_gap{
	display:none;
}
.pagenav_prev a, .pagenav_next a, .pagenav_first a, .pagenav_last a, .pagenav_pages a {
	color:#343434;
	padding: 2px 6px;
	display: block;
	text-shadow:0 1px 0 #FFFFFF;
}
.pagenav_prev a:hover, .pagenav_next a:hover, .pagenav_first a:hover, .pagenav_last a:hover, .pagenav_pages a:hover, .pagenav_current a:hover {
	color:#111;
	text-decoration: none;
	background: #f5f5f5;
	border-radius: 2px;
}
.pagenav_current {
	font-weight: bold;
}
.pagenav_current a {
	padding: 2px 6px;
	color:#111;
	display: block;
	text-shadow:0 1px 0 #FFFFFF;
	background: #f5f5f5;
	border-radius: 2px;
}
.pagenav_small {
	text-align: right;
	font-size: .9em;
}
.spaced {
	margin: 0 8px;
}

.buttonpanel .button{
	width: 11px;
	overflow: hidden;
}

.icon_panel{
	width: 32px;
	float: left;
	padding: 15px 15px;
}

.extension_info {
	margin: 0 10px 0 70px;
}

.form_table {}
.form_table div.row { clear: both;}
.form_table div.row div { float: left; min-width: 200px; width: 18%; max-width: 250px; padding: 0 10px; min-height: 80px;}
.form_table div.row div.wide { min-width: 300px; width: 30%;}
.form_table div.row div span {display: block;}
.form_table div.row div input[type=text], .form_table div.row div textarea, .form_table div.row div select {width: 100%!important;}
.form_table .oneline {min-height: 50px;}

table.cells tr:nth-child(2n) td.group_begin{
	background-color: #e8e8e8;
	border-bottom: 1px solid #fdfdfd;
	border-top: 1px solid #d8d8d4;
}

table.cells tr:nth-child(2n+1) td.group_begin{
	background-color: #e8e8e8;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #dddddd;
}
