.button, button, input[type="submit"], input[type="button"], .valid input[type="submit"].negative {
	display:inline-block;
	padding:5px 7px;
	font-weight:normal;
	color:#333333;
	white-space:nowrap;
	overflow:visible;
	cursor:pointer;
	text-decoration:none;
	border:1px solid #d4d4d4;
	border-radius:2px;
	margin:0 4px 2px 0;
	outline:none;
	position:relative;
	zoom:1;
	font:400 12px/1.11 Helvetica, arial, freesans, clean, sans-serif;
	background:#f4f4f4;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f4f4,endColorstr=#ececec);
	background:-moz-linear-gradient(top,#f4f4f4,#ececec);
	background:-ms-linear-gradient(top,#f4f4f4,#ececec);
	background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#ececec));
	background:-o-linear-gradient(top,#f4f4f4,#ececec);
	*display:inline;
	*vertical-align:middle;
}
.button { -moz-user-select:none; }
button::-moz-focus-inner {
	border:0;
	padding:0px;
}
.button.special, button.special, .valid input[type="submit"] { font-weight:bold; }
.button:hover, button:focus, input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	color:#fff;
	border-color:#388AD4;
	text-decoration:none;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	background:#599bdc;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#599bdc,endColorstr=#3072b3);
	background:-moz-linear-gradient(top,#599bdc,#3072b3);
	background:-ms-linear-gradient(top,#599bdc,#3072b3);
	background:-webkit-gradient(linear,left top,left bottom,from(#599bdc),to(#3072b3));
	background:-o-linear-gradient(top,#599bdc,#3072b3);
}
.button:active, button:active, input[type="submit"]:active, input[type="button"]:active, .button.active, button.active, .valid input[type="submit"] {
	border-color:#347BBA;
	color:#fff;
	background:#599bdc;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#599bdc,endColorstr=#3072b3);
	background:-moz-linear-gradient(top,#599bdc,#3072b3);
	background:-ms-linear-gradient(top,#599bdc,#3072b3);
	background:-webkit-gradient(linear,left top,left bottom,from(#599bdc),to(#3072b3));
	background:-o-linear-gradient(top,#599bdc,#3072b3);
	top:1px;
}
.button.negative:hover, button.negative:hover, .valid input[type="submit"].negative:hover {
	color:#fff;
	border-color:#cd504a;
	background:#dc5f59;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dc5f59,endColorstr=#b33630);
	background:-moz-linear-gradient(top,#dc5f59,#b33630);
	background:-ms-linear-gradient(top,#dc5f59,#b33630);
	background:-webkit-gradient(linear,left top,left bottom,from(#dc5f59),to(#b33630));
	background:-o-linear-gradient(top,#dc5f59,#b33630);
}
.button.negative:active, button.negative:active, .button.negative.active, button.negative.active {
	color:#fff;
	border-color:#74BB5A #74BB5A #509338;
	background:#dc5f59;
	background:#b33630;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b33630,endColorstr=#dc5f59);
	background:-moz-linear-gradient(top,#b33630,#dc5f59);
	background:-ms-linear-gradient(top,#b33630,#dc5f59);
	background:-webkit-gradient(linear,left top,left bottom,from(#b33630),to(#dc5f59));
	background:-o-linear-gradient(top,#b33630,#dc5f59);
}
.button.positive:hover, button.positive:hover, .valid input[type="submit"]:hover, .button.special:hover, button.special:hover {
	color:#fff;
	border-color:#74BB5A #74BB5A #509338;
	background:#69d344;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#69d344,endColorstr=#4c8b36);
	background:-moz-linear-gradient(top,#69d344,#4c8b36);
	background:-ms-linear-gradient(top,#69d344,#4c8b36);
	background:-webkit-gradient(linear,left top,left bottom,from(#69d344),to(#4c8b36));
	background:-o-linear-gradient(top,#69d344,#4c8b36);
}
.button.positive:active, button.positive:active, .button.positive.active, button.positive.active, .valid input[type="submit"] {
	color:#fff;
	border-color:#74BB5A #74BB5A #509338;
	background:#8add6d;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8add6d,endColorstr=#60b044);
	background:-moz-linear-gradient(top,#8add6d,#60b044);
	background:-ms-linear-gradient(top,#8add6d,#60b044);
	background:-webkit-gradient(linear,left top,left bottom,from(#8add6d),to(#60b044));
	background:-o-linear-gradient(top,#8add6d,#60b044);
}
.button.left, button.left {
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
	margin-right:0px;
	border-right:none;
}
.button.middle, button.middle {
	margin-right:0px;
	margin-left:0px;
	border-radius:0px;
	border-right:none;
}
.button.right, button.right {
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	margin-left:0px;
}
.button.left:active, button.left:active, .button.middle:active, button.middle:active, .button.right:active, button.right:active { top:0px; }
.button.large, button.large {
	font-size:14px;
	padding-left:14px;
	padding-right:17px;
	margin:2px 7px;
	box-shadow:0 1px 4px rgba(0,0,0,0.1);
	text-shadow:0 -1px 0 rgba(0,0,0,0.075);
}
input[type="text"], input[type="file"], textarea, select {
	display:inline-block;
	font:13px/1.4 Helvetica, arial, freesans, clean, sans-serif;
	padding:4px 6px;
	margin-bottom:3px;
	line-height:18px;
	color:#555555;
	border:1px solid #cccccc;
	border-radius:2px;
}
input[type="text"], textarea, select {
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition:border linear 0.2s, box-shadow linear 0.2s;
	-o-transition:border linear 0.2s, box-shadow linear 0.2s;
	transition:border linear 0.2s, box-shadow linear 0.2s;
	max-width:700px;
}
input[type="text"]:focus, textarea:focus, select:focus {
	border-color:rgba(82,168,236,0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 4px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 4px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 4px rgba(82,168,236,0.6);
}
select, input[type="file"] {
	height:26px;
	line-height:26px;
}
select { min-width:150px; }
select[multiple], select[size] { height:auto; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	background-color:#eeeeee;
	border-color:#ddd;
	cursor:not-allowed;
}
#saveconfig input[type=text], #saveconfig textarea { width:98%; }
.button.icon:before {
	background-image:url('../img/buttons.png');
	background-color:transparent;
	background-repeat:no-repeat;
	height:13px;
	margin:auto 4px auto 0px;
	width:13px;
	content:" ";
	display:block;
	position:absolute;
	left:6px;
	top:5px;
}
.button.icon { padding-left:23px; }
a.big.button span.icon, button.big span.icon { top:0px; }
.button.icon.fullscreen:before { background-position:0px 0px; }
.button.icon.fullscreen:hover:before { background-position:0px -13px; }
.button.icon.folder:before { background-position:-13px 0px; }
.button.icon.folder:hover:before { background-position:-13px -13px; }
.button.icon.cloud:before { background-position:-26px 0px; }
.button.icon.cloud:hover:before { background-position:-26px -13px; }
.button.icon.pin:before { background-position:-39px 0px; }
.button.icon.pin:hover:before { background-position:-39px -13px; }
.button.icon.ribbon:before { background-position:-52px 0px; }
.button.icon.ribbon:hover:before { background-position:-52px -13px; }
.button.icon.file:before { background-position:-65px 0px; }
.button.icon.file:hover:before { background-position:-65px -13px; }
.button.icon.sync:before { background-position:-78px 0px; }
.button.icon.sync:hover:before { background-position:-78px -13px; }
.button.icon.stop:before { background-position:-91px 0px; }
.button.icon.stop:hover:before { background-position:-91px -13px; }
.button.icon.check:before { background-position:-104px 0px; }
.button.icon.check:hover:before { background-position:-104px -13px; }
.button.icon.lock:before { background-position:-117px 0px; }
.button.icon.lock:hover:before { background-position:-117px -13px; }
.button.icon.cross:before { background-position:-130px 0px; }
.button.icon.cross:hover:before { background-position:-130px -13px; }
.button.icon.add:before { background-position:-143px 0px; }
.button.icon.add:hover:before { background-position:-143px -13px; }
.button.icon.home:before { background-position:-156px 0px; }
.button.icon.home:hover:before { background-position:-156px -13px; }
.button.icon.inbox:before { background-position:-169px 0px; }
.button.icon.inbox:hover:before { background-position:-169px -13px; }
.button.icon.refresh:before { background-position:-182px 0px; }
.button.icon.refresh:hover:before { background-position:-182px -13px; }
.button.icon.admin:before { background-position:-195px 0px; }
.button.icon.admin:hover:before { background-position:-195px -13px; }
.button.icon.trash:before { background-position:-208px 0px; }
.button.icon.trash:hover:before { background-position:-208px -13px; }
.button.icon.user:before { background-position:-221px 0px; }
.button.icon.user:hover:before { background-position:-221px -13px; }
.button.icon.flag:before { background-position:-234px 0px; }
.button.icon.flag:hover:before { background-position:-234px -13px; }
.button.icon.eye:before { background-position:-247px 0px; }
.button.icon.eye:hover:before { background-position:-247px -13px; }
.button.icon.view:before { background-position:-260px 0px; }
.button.icon.view:hover:before { background-position:-260px -13px; }
.button.icon.list:before { background-position:-273px 0px; }
.button.icon.list:hover:before { background-position:-273px -13px; }
.button.icon.clock:before { background-position:-286px 0px; }
.button.icon.clock:hover:before { background-position:-286px -13px; }
.button.icon.play:before { background-position:-299px 0px; }
.button.icon.play:hover:before { background-position:-299px -13px; }
.button.icon.options:before { background-position:-312px 0px; }
.button.icon.options:hover:before { background-position:-312px -13px; }
.button.icon.mag:before { background-position:-325px 0px; }
.button.icon.mag:hover:before { background-position:-325px -13px; }
.button.icon.bell:before { background-position:-338px 0px; }
.button.icon.bell:hover:before { background-position:-338px -13px; }
.button.icon.clip:before { background-position:-351px 0px; }
.button.icon.clip:hover:before { background-position:-351px -13px; }
.button.icon.comments:before { background-position:-364px 0px; }
.button.icon.coments:hover:before { background-position:-364px -13px; }
.button.icon.compose:before { background-position:-377px 0px; }
.button.icon.compose:hover:before { background-position:-377px -13px; }
.button.icon.signal:before { background-position:-390px 0px; }
.button.icon.signal:hover:before { background-position:-390px -13px; }
.button.icon.pinbig:before { background-position:-403px 0px; }
.button.icon.pinbig:hover:before { background-position:-403px -13px; }
.button.icon.cog:before { background-position:-416px 0px; }
.button.icon.cog:hover:before { background-position:-416px -13px; }
.button.icon.bolt:before { background-position:-429px 0px; }
.button.icon.bolt:hover:before { background-position:-429px -13px; }
.button.icon.pen:before { background-position:-442px 0px; }
.button.icon.pen:hover:before { background-position:-442px -13px; }
.button.icon.stats:before { background-position:-455px 0px; }
.button.icon.stats:hover:before { background-position:-455px -13px; }
a.thumbicons {
	color:#666;
	position:relative;
	margin:5px;
	padding:10px 5px 5px 50px;
	text-align:left;
	text-decoration:none;
	zoom:1;
	vertical-align:middle;
	border:1px solid transparent;
	float:left;
	width:160px;
	text-shadow:0 1px 0 rgba(0,0,0,0.1);
	height:30px;
	-webkit-transition:background linear 0.2s, box-shadow linear 0.2s;
	-moz-transition:background linear 0.2s, box-shadow linear 0.2s;
	-ms-transition:background linear 0.2s, box-shadow linear 0.2s;
	-o-transition:background linear 0.2s, box-shadow linear 0.2s;
	transition:background linear 0.2s, box-shadow linear 0.2s;
}
a.thumbicons img {
	position:absolute;
	top:8px;
	left:10px;
	text-align:center;
	display:block;
}
a.thumbicons span {
	position:relative;
	display:block;
	color:#999;
	font-size:0.9em;
}
a.thumbicons:hover, a.thumbicons.special {
	background:#f5f5f5;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#ebebeb);
	background:-moz-linear-gradient(top,#f5f5f5,#ebebeb);
	background:-ms-linear-gradient(top,#f5f5f5,#ebebeb);
	background:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#ebebeb));
	background:-o-linear-gradient(top,#f5f5f5,#ebebeb);
	border:1px solid #C4C4C4;
	border-radius:3px;
	text-decoration:none;
	box-shadow:0 1px 3px rgba(0,0,0,0.2), inset 0 1px 0 rgba(0,0,0,0.1);
}
a.quick-action {
	background:#f5f5f5;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#ebebeb);
	background:-moz-linear-gradient(top,#f5f5f5,#ebebeb);
	background:-ms-linear-gradient(top,#f5f5f5,#ebebeb);
	background:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#ebebeb));
	background:-o-linear-gradient(top,#f5f5f5,#ebebeb);
	border:1px solid #C4C4C4;
	border-radius:3px 3px 3px 3px;
	box-shadow:0 1px 3px rgba(0,0,0,0.2), 0 1px 0 #fff rgba(0,0,0,0.1);
	color:#666666;
	display:inline-block;
	font-size:11px;
	line-height:20px;
	margin-right:3px;
	padding:5px 18px;
	text-align:center;
	text-decoration:none;
	min-width:70px;
}
a.quick-action:hover {
	background:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f5f5f5);
	background:-moz-linear-gradient(top,#fff,#f5f5f5);
	background:-ms-linear-gradient(top,#fff,#f5f5f5);
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));
	background:-o-linear-gradient(top,#fff,#f5f5f5);
	color:#4f4f4f;
	text-decoration:none;
}
a.quick-action span {
	display:block;
	height:32px;
	padding:0px 0px 2px;
}
